.app.dark {
    background-color: #111;
    color: rgb(156, 156, 156);

    .chartGrid {
        stroke: rgba(228, 228, 228, 0.219);
    }

    .table {
        background-color: #111;

        .tableCell {
            color: gray;
        }
    }

    .navbar {
        color: #999;
        border-color: #333;

        .search {
            border-color: #333;
        }
    }

    .sidebar {
        background-color: #111;
        border-color: #333;

        .top {
            border-color: #333;

            .logo {
                color: #999;
                border-color: #333;
            }
        }

        .center {
            ul {
                li {
                    &:hover {
                        background-color: #333;
                    }

                    .icon {
                        color: #999;
                    }
                }

            }
        }

    }

    .dataTable {
        // background-color: #111;
        // color: gray;
        // border: none;
        // background-color: #111;
        // stroke: gray;

        .dataGrid {
            color: gray;
            border: none;
            background-color: #111;
            stroke: gray;

            .viewButton,
            .deleteButton,
            .cellWithStatus {
                color: gray;
                border: none;
            }
        }
    }

    input {
        background-color: transparent;
    }
}